


<div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    @switch(productsState.state.status()){
        @case('loading'){
            <p>loading...</p>
        }

        @case('error'){
            <p>Error</p>

        }

        @default{
            <div class="flex flex-wrap justify-center gap-2 my-6">
                <button
                  type="button"
                  (click)="filterProducts('termos')"
                  [ngClass]="{
                    'bg-gray-200 text-gray-900 border-gray-400': currentFilter() === 'termos',
                    'text-gray-700 border-gray-300 hover:bg-gray-100': currentFilter() !== 'termos'
                  }"
                  class="border font-medium rounded-md text-sm px-4 py-2 transition-colors tracking-wide"
                >Termos</button>
              
                <button
                  type="button"
                  (click)="filterProducts('hornos')"
                  [ngClass]="{
                    'bg-gray-200 text-gray-900 border-gray-400': currentFilter() === 'hornos',
                    'text-gray-700 border-gray-300 hover:bg-gray-100': currentFilter() !== 'hornos'
                  }"
                  class="border font-medium rounded-md text-sm px-4 py-2 transition-colors tracking-wide"
                >Hornos</button>
              
                <button
                  type="button"
                  (click)="filterProducts('frigorificos')"
                  [ngClass]="{
                    'bg-gray-200 text-gray-900 border-gray-400': currentFilter() === 'frigorificos',
                    'text-gray-700 border-gray-300 hover:bg-gray-100': currentFilter() !== 'frigorificos'
                  }"
                  class="border font-medium rounded-md text-sm px-4 py-2 transition-colors tracking-wide"
                >Frigoríficos</button>
              
                <button
                  type="button"
                  (click)="filterProducts('lavavajillas')"
                  [ngClass]="{
                    'bg-gray-200 text-gray-900 border-gray-400': currentFilter() === 'lavavajillas',
                    'text-gray-700 border-gray-300 hover:bg-gray-100': currentFilter() !== 'lavavajillas'
                  }"
                  class="border font-medium rounded-md text-sm px-4 py-2 transition-colors tracking-wide"
                >Lavavajillas</button>
              
                <button
                  type="button"
                  (click)="filterProducts('lavadoras')"
                  [ngClass]="{
                    'bg-gray-200 text-gray-900 border-gray-400': currentFilter() === 'lavadoras',
                    'text-gray-700 border-gray-300 hover:bg-gray-100': currentFilter() !== 'lavadoras'
                  }"
                  class="border font-medium rounded-md text-sm px-4 py-2 transition-colors tracking-wide"
                >Lavadoras</button>
              
                <button
                  type="button"
                  (click)="filterProducts('all')"
                  [ngClass]="{
                    'bg-gray-200 text-gray-900 border-gray-400': currentFilter() === 'all',
                    'text-gray-700 border-gray-300 hover:bg-gray-100': currentFilter() !== 'all'
                  }"
                  class="border font-medium rounded-md text-sm px-4 py-2 transition-colors tracking-wide"
                >Todos los productos</button>
              </div>
              
              
              
            <div class="flex justify-end  my-6 px-4">
                <button type="button" 
                (click)="changePage()"
                class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br 
                focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg 
                dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Cambiar página</button>
    
            </div>

            <!-- home.component.html -->
            <button
            *ngIf="isAdmin"
            (click)="goToAdmin()"
            class="bg-gray-100 text-gray-800 border border-gray-300 hover:bg-blue-100 font-medium text-sm py-1.5 px-4 rounded-md shadow-sm transition-colors mb-4"
          >
            Administrar productos
          </button>
          
          

          

          
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    
                @for(product of pagedProducts(); track product.id){
                    <app-product-card class="block" [product] = "product" (addToCart)="addToCart($event)" /> 
                }
            </div>

            
        }
    }
  
</div>   


