<nav class="navbar">
    <div class="container">
      <div  class="nav-links logo">
        <button>🛒 MyStore</button>
      </div>
  
      <ul class="nav-links" *ngIf="userLoggedIn; else guestView">
        <li><a routerLink="/products" routerLinkActive="dark:text-green-500" [routerLinkActiveOptions]="{exact: true}" >Home</a></li>
        <li><a routerLink="/cart" routerLinkActive="dark:text-green-500" [routerLinkActiveOptions]="{exact: true}" >Carrito</a></li>
      </ul>
  
      <div class="user-actions" *ngIf="userLoggedIn">
        <div class="dropdown">
          <button class="dropbtn" (click)="toggleDropdown()">
            Mi cuenta ▼
          </button>
          <div class="dropdown-content" [ngClass]="{ show: isDropdownOpen }">
            <span class="email">{{ userEmail }}</span>
            <a (click)="signOut()">Cerrar sesión</a>
          </div>
        </div>
      </div>
  
      <ng-template #guestView>
        <ul class="nav-links">
          <li><a routerLink="/login">Iniciar sesión</a></li>
          <li><a routerLink="/register">Registrarse</a></li>
        </ul>
      </ng-template>

      <div>
        <button class="relative">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  
          stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline 
          icon-tabler-shopping-cart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" />
          </svg>
        
      </button>
      </div>
    </div>

    
  </nav>
  